.all_cat{
    display: flex;
    flex-direction: column;
    h1{
        width: 100%;
    }
}

.full{
    display: flex;
    gap: 50px;
}

.all_left{
    width: 280px;
    
    height: 500px;

}
.all_right{
width: 950px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 40px;
    
}
.menu_all_cat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    
    a{
font-weight: 700;
font-style: Bold;
font-size: 15px;
cursor: pointer;
line-height: 140%;
letter-spacing: 6%;
vertical-align: middle;
text-transform: uppercase;
color:#3B3937;

    }
    .active2{
    color: #B14101;
}
}

