@font-face {
  font-family: 'PermianSerifTypeface';
  src: url('./fonts/PermianSansTypeface.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PermianSerifTypeface-Bold';
  src: url('./fonts/PermianSansTypeface-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./fonts/Gilroy-Regular_0.ttf') format('otf');
  font-weight: normal;
  font-style: normal;
}






$color-brown: #A9845C;
$color-dark-brown: #3B3937;
$color-red: #B14101;
$color-yellow: #FFD6A8;
$color-black: #3B3937;
$color-medium-gray: #B1B0AF;
$color-light-gray: #DADADA;
$color-button-hover:#926341;

